# Database Credentials
DB_USER=*username*
DB_PASSWORD=*password*

# Host Port Mappings
AUTH_PORT=*medifind_auth_db host port*
MEDICINE_PORT=*medifind_medicine_db host port*
PHARMACY_PORT=*medifind_pharmacy_db host port*
PATIENT_PORT=*medifind_patient_db host port*