# Database Secrets
DB_USER=*db username*
DB_PASSWORD=*db password*
DB_URL=jdbc:postgresql://auth-db:5432/auth_db

# Security Secrets
JWT_SECRET=*32 character secret key*

# Infrastructure
CONFIG_SERVER_URL=http://config-server:8888