# Database Secrets
DB_USER=*db username*
DB_PASSWORD=*db password*
DB_URL=jdbc:postgresql://pharmacy-db:5432/pharmacy_db

PHARMACY_SERVER_PORT=*port number*

# Infrastructure
CONFIG_SERVER_URL=http://config-server:8888